html, body {
    height: 100%;
}
body{
	background: url('../images/checkers-dark.jpg');
}

#logo {
	display: block; border: 0; padding: 0 0 0 90px;
	background:url('../images/video.png') no-repeat left center;
	text-align: center; line-height: 80px; direction: ltr; height: 90px;
	position: fixed; top: 10px; margin: 0 0 0 10px; z-index: 99;
}


#body{
	min-height: 99%; width: 860px;
	margin-bottom: 3.5em; margin-left: auto; margin-right: auto;
	background: url('../images/checkers.png');
	-webkit-box-shadow: 1px 1px 10px #ccc;
	-moz-box-shadow: 1px 1px 10px #ccc;
	-ms-box-shadow: 1px 1px 10px #ccc;
	-o-box-shadow: 1px 1px 10px #ccc;
	box-shadow: 1px 1px 10px #ccc;
}

.video-container{
	margin-top: 100px; padding: 10px;
	text-align: center;
}

#monitor{
	height: 50%;
}

#gallery{
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	z-index: -1;
}

#gallery img {
  position: absolute;
  z-index: -1;
  height: 75px;
  float: left;
  height: 75px;
}

.blur {
  -webkit-filter: blur(3px);
}
.brightness {
  -webkit-filter: brightness(5);
}
.contrast {
  -webkit-filter: contrast(8);
}
.hue-rotate {
  -webkit-filter: hue-rotate(90deg);
}
.hue-rotate2 {
  -webkit-filter: hue-rotate(180deg);
}
.hue-rotate3 {
  -webkit-filter: hue-rotate(270deg);
}
.saturate {
  -webkit-filter: saturate(10);
}
.grayscale {
  -webkit-filter: grayscale(1);
}
.sepia {
  -webkit-filter: sepia(1);
}
.invert {
  -webkit-filter: invert(1)
}


#footer {
	text-align: center;
	border-top: 1px solid #dedede;
	padding: 10px 0 20px 0;
}

.social, .social li{ padding:0; margin:0; display:inline-block;}
.social li { margin: 0 10px; float: left; }